body{

	background-color: #f8f8f8;
}

.navbar{
	padding-bottom: 30px;

}

.navbar ul{

	list-style-type: none;
	margin:0;
	padding:0;
	overflow:hidden;
	background-color: #333;
}

.navbar li{
	float:left;

}

.wrapper h1{
	text-align: center;

}


.wrapper h2{
	text-align: center;
	font-size: 12px;
}

.navbar li a{

	display:inline-block;
	color:white;
	text-align: center;
	padding:14px 16px;
	text-decoration: none;


}

.navbar li a:hover{
	background-color: #111;
}

.main{


	 margin: 0 auto;
     width: 60%; 
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
     
     background-color: white;
}

.wrapper{

	padding:20px;
}

img{
 
  max-width: 100%;
    

}

div.polaroid {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

div.container {
  padding: 10px;
}

.footer {
   
   left: 0;
   bottom: 0;
   width: 100%;

  
   color: black;
   text-align: center;
}

#message {
  display:none;
  color: red;
}

#namebox, #emailbox, #commentbox{
	
	width:300px;
	/*	border-top:0; box-shadow: inset 0 0 0 red; border-left:0; border-right:0; border-radius:0;

	*/
}

table{
width:100%;
}

#commentbox{
	height:100px;
}

.table_div{
	width:inherit;
	width:100%;
}

